.container{
    margin: 2rem;;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.square{
    height: 150px;
    width: 150px;
    background-color: #444;
    text-align: center;
    padding: 2.5rem;
}